:root {
    --leftFrameWidth: 30%;
    --rightFrameWidth: calc(100% - var(--leftFrameWidth));
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
}

button {
    font-weight: bold;
}

.container {
    display: flex;
    height: 100%;
}

.tab { 
    display: none; 
}

iframe {
    max-height: 100%;
}

.leftFrame { 
    width: var(--leftFrameWidth); 
    border: none;
    overflow: auto;
}

.rightFrame { 
    width: var(--rightFrameWidth); 
    position: absolute;
    top: 0;
    right: -4px;
    height: 100%;
    display: none;
}

.query-form {
    margin: 50px;
}

#scan-button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
} 

#scan-button:hover {
    background: darkgreen;
}

#user-query {
    padding: 10px;
    height: 35px;
    min-height: 35px;
    max-height: 100px;
    width: 95%;
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 0;
    outline: none;
    border: 1.5px solid;
    border-radius: 5px;
}

#submit-button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
} 

#submit-button:hover {
    background: darkgreen;
}

#choose-relevant-form {
    display: none;
}

#choose-relevant-info {
    color: black;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 10px 0;
}

li {
    padding-left: 0;
}

.ds-checkbox {
    background: white;
    border: 1.5px rgb(125, 125, 125) solid;
    color: black;
    padding: 15px;
    width: 95%;
    margin-left: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds-label, .ds-version {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 10px;
    background: white;
    color: black;
    border: 1.5px rgb(125, 125, 125) solid;
}

.ds-checkbox:hover,
.ds-checkbox:hover .ds-label,
.ds-checkbox:hover .ds-version {
    border: 1.5px black solid;
}

.ds-checkbox.clicked {
    background: rgb(235, 235, 235);
    color: black;
}

.ds-checkbox.clicked {
    border: 1.5px black solid;
}

.ds-checkbox.clicked .ds-label,
.ds-checkbox.clicked .ds-version {
    border: 1.5px black solid;
}

.ds-checkbox.clicked .ds-label {
    background-color: rgb(206, 243, 255);
} 

.ds-checkbox.clicked .ds-version {
    background-color: rgb(255, 207, 207);
}

.ds-name {
    font-size: 14px;
    margin-top: 0;
    display: block;
    margin-top: 10px;
}

.select {
    cursor: pointer;
}

input {
    outline: none;
}

.ds-labels {
    width: 86%;
}

input[type="checkbox"] {
    transform: scale(2.5);
    border-radius: 100%;
    outline: none;
    margin-right: 8px;
}

input[type="checkbox"]:checked {
    accent-color: green;
}

.reset-page {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 15px 20px;
    background: black;
    color: white;
    opacity: 0.85;
    display: none;
    border-radius: 5px;
    border: none;
}

.open-in-new-tab {
    position: absolute;
    top: 0;
    right: 120px;
    margin: 10px;
    padding: 15px 20px;
    background: black;
    color: white;
    opacity: 0.85;
    display: none;
    border-radius: 5px;
    border: none;
}

.left-larger {
    position: absolute;
    display: none;
    left: var(--leftFrameWidth);
}

.right-larger {
    position: absolute;
    display: none;
    right: var(--rightFrameWidth);
}

.left-larger, .right-larger {
    opacity: 0.85;
    background-color: black;
    border: none;
    color: white;
    bottom: 0;
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

.reset-page:hover, 
.open-in-new-tab:hover,
.left-larger:hover, 
.right-larger:hover {
    opacity: 1;
    cursor: pointer;
}