:root {
    --leftFrameWidth: 35%;
    --rightFrameWidth: calc(100% - var(--leftFrameWidth));
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.tab { 
    display: none; 
}

iframe {
    max-height: 100%;
}

.leftFrame { 
    width: var(--leftFrameWidth); 
    border: none;
}

.rightFrame { 
    width: var(--rightFrameWidth); 
    position: absolute;
    top: 0;
    right: -4px;
    height: 100%;
    display: none;
}

.query-form {
    margin: 50px;
}

#scan-button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
} 

#scan-button:hover {
    background: darkgreen;
}

#user-query {
    padding: 10px;
    height: 35px;
    min-height: 35px;
    max-height: 100px;
    width: 95%;
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 0;
    outline: none;
}

#submit-button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
} 

#submit-button:hover {
    background: darkgreen;
}

#choose-relevant-form {
    display: none;
}

#choose-relevant-info {
    color: black;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 10px 0;
}

li {
    padding-left: 0;
}

.ds-checkbox {
    background: gray;
    color: white;
    padding: 15px;
    width: 95%;
    margin-left: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds-label {
    font-weight: bold;
}

.select {
    cursor: pointer;
}

input {
    outline: none;
}

.ds-labels {
    width: 85%;
}

input[type="checkbox"] {
    transform: scale(2);
    border-radius: 50%;
}

.tabButton {
    text-align: left;
}

.tabButton:active {
    background-color: black;
}
